# These get filled out by zkstats
Zero-K/
demos/
games/
maps/
shards/
stats/
summaries/

# This is a link to what we want to serve on the site, set locally
public/data/live.json

# Ignore the usual cruft
.*
*~
*.bak
scratch
