/* Ensure sane defaults */
html, body, #vis, #main, .side {
  height: 100%;
}
html, body {
  min-width: 1678px;
}
body {
  padding: 0;
  margin: 0;
}

/* Top-level layout */
.side {
  float: right;
}
#main {
  overflow: hidden;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .8;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  top: 0;
}

body, #main, #status, .side {
  min-height: 920px;
}

body {
  min-width: 1350px;
}

#status {
  width: 100%;
  font-size: smaller;
}

/* Top-level column widths */
.wide {
  width: 600px;
}

.med {
  width: 400px;
}

.thin {
  width: 200px;
}

.tiny {
  width: 70px;
}

/* Titles */
h3 {
  font-weight: normal;
  margin: 0;
  padding: 0.2em 0.5em;
}

/* Axis labels */
.axis-label {
  height: 0;
  position: relative;
  white-space: nowrap;
  width: 0;
}

.x-axis-label {
  left: 50%;
}

.y-axis-label {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* Axis ticks */

.dvchart.vertical-x-axis-ticks g.axis.x .tick text {
  /* transform: rotate(90deg);
  text-anchor: start; */
  text-anchor: end;
  transform: rotate(-90deg)translate(-3px,-7px);
}

/* Chart meta info */

p.info {
  font: 10px sans-serif;
  margin: 0 .4em;
  padding: 0;
}

p.filterinfo {
  font: 11px sans-serif;
  margin: .4em;
  padding: 0;
  /* Specify size and block specifically, so that the space needed is always reserved */
  display: block;
  height: 11px;
}

/* Record display */

.dv-record-container {
  font: 10px sans-serif;
  margin: .4em;
  padding: 0;
  height: 10px;
}

/* Charts */

.dc-chart {
  float: left;
}

/* Utility */
.fader {
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.help {
  cursor: help;
}

.dc-chart .pie-slice {
  fill: #000;
}

/* Non-layout critical style niceties */

/* Dark theme by default */
:root {
  --color-bg: #252323;
  --faint-separator: #333;
  --color-fg: #eeeeee;
  --subdued-foreground: #999;
  --color-link: #0ec0ee;
  --color-link-hover: #0fc4f2;
}

/* If light theme is explicitly set, use it */
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #eeeeee;
    --faint-separator: #ddd;
    --color-fg: #111111;
    --subdued-foreground: #666;
    --color-link: #0066aa;
    --color-link-hover: #005580;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.side {
  border-left: 1px solid var(--faint-separator);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

#vis-container {
  display: flex;
  justify-content: center;
}

#vis {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  max-width: 100%;
}

/* .info is not used in current configuration, but we'll set sane defaults anyway. */
p.info {
  /* Note that previously, this had an intensity between full foreground and subdued foreground. */
  color: var(--subdued-foreground);
}

p.filterinfo {
  color: var(--subdued-foreground);
}

.dv-record-container {
  color: var(--subdued-foreground);
}

.dc-chart {
  border-bottom: 1px var(--faint-separator) solid;
}

.dc-chart .axis path, .dc-chart .axis line {
  stroke: var(--subdued-foreground);
}

.dc-chart text.x-axis-label, .dc-chart text.y-axis-label {
  fill: var(--color-fg);
}

.dc-chart .pie-slice {
  fill: var(--color-fg);
}
