[Unit]
Description=Update WHR of processed battles

[Service]
Type=simple
User=zkreplayfetch
Group=zkreplay

ExecStart=/var/lib/zkreplay/getwhr.py
WorkingDirectory=/var/lib/zkreplay

Nice=10
IOSchedulingPriority=5

SyslogIdentifier=zkreplay-whr

# Sandbox things.

CapabilityBoundingSet=
NoNewPrivileges=true

ProtectSystem=strict
ProtectHome=true

ReadWritePaths=/var/lib/zkreplay/demos/fullwhr.json /var/lib/zkreplay/demos/fullwhr-skipped.json /var/lib/zkreplay/demos/fullwhr-missing.json

PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=
RestrictNamespaces=true

LockPersonality=true
SystemCallArchitectures=native

MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true

PrivateMounts=true

SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
