[Unit]
Description=Archive Zero-K replay files
After=zkreplay-fetch.service
After=zkreplay-process.service

[Service]
Type=simple
User=zkreplay
Group=zkreplay

ExecStart=/var/lib/zkreplay/sd/archive.sh
WorkingDirectory=/var/lib/zkreplay

# Play nicely with other processes on the system. We're pretty low priority.
Nice=10
IOSchedulingPriority=5
OOMScoreAdjust=800

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zkreplay-archive

# Sandbox things fairly strictly.

CapabilityBoundingSet=
NoNewPrivileges=true

ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/zkreplay/demos /var/lib/zkreplay/stats /var/lib/zkreplay/summaries /varlib/zkreplay/archives /var/lib/zkreplay/archives.json.frags

PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=
RestrictNamespaces=true

LockPersonality=true
SystemCallArchitectures=native

MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true

PrivateMounts=true

SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
